{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/profile.css') }}" />
{% endblock %}

{% block body %}
    <div class="container-profile">
        <div class="profile-info">
            <div class="profile-info-essentials">
                <div class="profile-image-container">
                    <div class="ui tiny circular image">
                        <div class="profile-image">
                            {{ firstLetter }}
                        </div>
                    </div>
                </div>
                <div class="profile-name">
                    <h1 class="ui large header">{{ name }}</h1>
                    <p class="ui small header username">{{ username }}</p>
                    {% if description %}
                        <div class="ui tiny header description">{{ description }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="ui two item menu">
                <a class="item{% if submenu == 'products' %} active{% endif %}" href="{{ urls.profileProductsUrls }}">Products</a>
                <a class="item{% if submenu == 'collections' %} active{% endif %}" href="{{ urls.profileCollectionsUrls }}">Collections</a>
            </div>
            <div class="profile-content-content">
                    {{ render(controller("AppBundle:Profile\\ProfileContent:content", {'username': username, 'submenu': submenu})) }}
            </div>
        </div>
    </div>
{% endblock %}