{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/profile.css') }}" />
{% endblock %}

{% block body %}
    <div class="container-profile">
        <div class="profile-info">
            <div class="profile-image-container">
                <div class="ui small image">
                    <div class="profile-image">
                        {{ firstLetter }}
                    </div>
                </div>
            </div>
            <div class="profile-details-container">
                <h1 class="ui large header">{{ name }}</h1>
                <p class="ui small header username">{{ username }}</p>
            </div>
            <div class="profile-description-container">
                {% if description %}
                    <div class="description">{{ description }}</div>
                {% endif %}
            </div>
            <div class="profile-actions">
                {% if isCurrentAccount %}
                    <a class="ui fluid basic button" href="/profile/{{ username }}/edit">
                        <i class="icon edit"></i>
                        Edit profile
                    </a>
                {% else %}
                    {% if isLoggedIn %}
                        <button class="ui fluid basic button">
                            <i class="icon add user"></i>
                            Follow
                        </button>
                        <button class="ui fluid basic button">
                            <i class="icon mail"></i>
                            Message
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="profile-content">
            <div class="ui four item menu">
                <a class="item{% if submenu == 'products' %} active{% endif %}" href="{{ urls.profileProductsUrls }}">Products</a>
                <a class="item{% if submenu == 'collections' %} active{% endif %}" href="{{ urls.profileCollectionsUrls }}">Collections</a>
                <a class="item{% if submenu == 'followings' %} active{% endif %}" href="{{ urls.profileCollectionsUrls }}">Followers</a>
                <a class="item{% if submenu == 'followers' %} active{% endif %}" href="{{ urls.profileCollectionsUrls }}">Followings</a>
            </div>
            <div class="profile-content-content">
                    {{ render(controller("AppBundle:Profile\\ProfileContent:content", {'username': username, 'submenu': submenu})) }}
            </div>
        </div>
    </div>
{% endblock %}