{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/profile.css') }}" />
{% endblock %}

{% block body %}
    <div class="container-profile">
        <div class="profile-edit-container">
            <h2 class="ui header">Edit profile</h2>

            {% if errors %}
                <div class="ui error message">
                    <div class="ui list">
                        {% for error in errors %}
                            <div class="item">{{ error.message }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <h3 class="ui header">Photo</h3>
            <div class="ui edit-profile-photo">
                <div class="field">
                    <div class="profile-image-container">
                        <div class="ui small image">
                            <div class="profile-image">
                                {{ firstLetter }}
                            </div>
                        </div>
                        <div class="change-photo-container">
                            <Button class="ui button js-change-photo" tabindex="0">Change photo</Button>
                        </div>
                    </div>
                </div>

                <script>
                    $( ".js-change-photo" ).click(function() {
                        $('.ui.modal').modal('show');
                    });
                </script>

                <div class="ui modal">
                    <i class="close icon"></i>
                    <div class="header">
                        Profile photo
                    </div>
                    <div class="image content">
                        <div class="profile-image-container">
                            <div class="ui small image">
                                <div class="profile-image">
                                    {{ firstLetter }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="ui black deny button">
                            Close
                        </div>
                        <div class="ui positive right button">
                            Upload photo
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="ui header">Details</h3>
            <form class="ui form" action="/profile/{{ username }}/edit" method="post">
                <div class="field">
                    <label>Name</label>
                    <div class="field">
                        <input type="text" name="displayName" placeholder="Name" value="{{ displayName }}">
                    </div>
                </div>
                <div class="field">
                    <label>Description</label>
                    <textarea rows="2" maxlength="500" name="description">{{ description }}</textarea>
                </div>
                <Button class="ui button primary" tabindex="0">Save</Button>
            </form>
        </div>
    </div>
{% endblock %}