<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="referrer" content="origin-when-cross-origin">
        <meta name="theme-color" content="#4a5a66">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta property="og:type" content="website">
        <meta name="description" content="">

        {% block description %}
            <meta name="description" content="">
        {% endblock %}

        {% block keywords %}
            <meta name="keywords" content="">
        {% endblock %}

        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('bundles/app/css/semantic.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/default.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/icon.css') }}" />

        {% block stylesheets %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous">
        </script>
        <script src="{{ asset('bundles/app/js/semantic.js') }}"></script>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <div class="body-container">
            <!-- Header -->
            <div class="header-container">
                {% block header %}
                    {{ render(controller("AppBundle:Application\\Header:header")) }}
                {% endblock %}
            </div>
            <!-- End of Header -->

            <!-- Page content -->
            <div class="page-container ui">
                {% block body %}{% endblock %}
            </div>
            <!-- End of Page content -->

            <!-- Footer -->
            <footer class="footer-container">
                {% block footer %}
                    {{ render(controller("AppBundle:Application\\Footer:footer")) }}
                {% endblock %}
            </footer>
            <!-- End of Footer -->
        </div>
    </body>

    <script src="{{ asset('bundles/app/js/header.js') }}"></script>
    {% block javascripts %}{% endblock %}
</html>
