<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/semantic.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/default.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/icon.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <div class="body-container">
            <!-- Header -->
            <div class="header-container">
                {% block header %}
                    {{ render(controller("AppBundle:Application\\Header:header")) }}
                {% endblock %}
            </div>
            <!-- End of Header -->

            <!-- Page content -->
            <div class="page-container ui">
                {% block body %}{% endblock %}
            </div>
            <!-- End of Page content -->

            <!-- Footer -->
            <footer class="footer-container">
                {% block footer %}{% endblock %}
            </footer>
            <!-- End of Footer -->
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    <script src="{{ asset('bundles/app/js/semantic.js') }}"></script>
    <script src="{{ asset('bundles/app/js/header.js') }}"></script>
    {% block javascripts %}{% endblock %}
</html>
