{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/home.css') }}" />
{% endblock %}

{% block body %}
    <div class="container-home">
        <div class="product-list-container">
            {{ render(controller("AppBundle:Home\\Filter:filter")) }}

            <div class="product-list">
                <div class="ui four column grid">
                    <div class="column">
                        <div class="ui fluid card">
                            <a class="image" href="#">
                                <img src="{{ asset('bundles/app/image/profiledefault.png') }}">
                            </a>
                            <div class="content">
                                <a class="header">Daniel Louise</a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui fluid card">
                            <a class="image" href="#">
                                <img src="{{ asset('bundles/app/image/profiledefault.png') }}">
                            </a>
                            <div class="content">
                                <a class="header">Helen Troy</a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui fluid card">
                            <a class="image" href="#">
                                <img src="{{ asset('bundles/app/image/profiledefault.png') }}">
                            </a>
                            <div class="content">
                                <a class="header">Elliot Fu</a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui fluid card">
                            <a class="image" href="#">
                                <img src="{{ asset('bundles/app/image/profiledefault.png') }}">
                            </a>
                            <div class="content">
                                <a class="header">Elliot Fu</a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui fluid card">
                            <a class="image" href="#">
                                <img src="{{ asset('bundles/app/image/profiledefault.png') }}">
                            </a>
                            <div class="content">
                                <a class="header">Elliot Fu</a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui fluid card">
                            <a class="image" href="#">
                                <img src="{{ asset('bundles/app/image/profiledefault.png') }}">
                            </a>
                            <div class="content">
                                <a class="header">Elliot Fu</a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui fluid card">
                            <a class="image" href="#">
                                <img src="{{ asset('bundles/app/image/profiledefault.png') }}">
                            </a>
                            <div class="content">
                                <a class="header">Elliot Fu</a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui fluid card">
                            <a class="image" href="#">
                                <img src="{{ asset('bundles/app/image/profiledefault.png') }}">
                            </a>
                            <div class="content">
                                <a class="header">Elliot Fu</a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui fluid card">
                            <a class="image" href="#">
                                <img src="{{ asset('bundles/app/image/profiledefault.png') }}">
                            </a>
                            <div class="content">
                                <a class="header">Elliot Fu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}