{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/home.css') }}" />
{% endblock %}

{% block body %}
    <div class="container-home">
        <div class="product-list-container">
            {{ render(controller("AppBundle:Home\\Filter:filter")) }}

            <div class="product-list">
                <div class="ui four column grid">
                    {% for product in products %}
                        <div class="column" title="{{ product.name }}">
                            <div class="ui fluid card">
                                <a class="image" href="#">
                                    <img src="{{ asset('bundles/app/image/product/' ~ product.id ~ '.jpeg') }}">
                                </a>
                                <div class="content">
                                    <a class="header">{{ product.name }}</a>
                                    <div class="meta">
                                        <span>{{ product.price }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}